*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

:root {
  --plain: #FFF;
  --hover-active: #FF6565;
  --headers-text: #071629;
}

@font-face {
  font-family: "MyFont1";
  src: url("./fonts/source-sans-pro/SourceSansPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "MyFont2";
  src: url("./fonts/Spin-Cycle/spincycle_ot.otf") format("opentype");
}

@font-face {
  font-family: 'holberton_school-icon';
  src:  url('fonts/holberton_school-icon.eot?sq4eq4');
  src:  url('fonts/holberton_school-icon.eot?sq4eq4#iefix') format('embedded-opentype'),
    url('fonts/holberton_school-icon.ttf?sq4eq4') format('truetype'),
    url('fonts/holberton_school-icon.woff?sq4eq4') format('woff'),
    url('fonts/holberton_school-icon.svg?sq4eq4#holberton_school-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

body {
  font-family: "MyFont1", Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.header-container {
  width: 100%;
  background: url("./images/headphones_hero_1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--plain);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.nav-container {
  display: none;
}

header {
  width: 100%;
}

.hero-header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 230px;
}

.btn-container {
  width: 25px;
  height: 20px;
}

.hamburger {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.one,
.three {
  width: 100%;
}

.two {
  width: 70%;
}

.one,
.two,
.three {
  height: 3px;
  border-radius: 5px;
  background: var(--plain);
}

.logo img {
  width: 160px;
}

.header-title {
  margin-bottom: 10px;
}

.header-subtitle {
  margin-bottom: 15px;
}

.cta button {
  width: 160px;
  padding: 15px;
  border: none;
  border-radius: 25px;
  background: var(--hover-active);
  color: var(--plain);
  font-weight: bold;
  margin-bottom: 100px;
  cursor: pointer;
}

.cta button:hover {
  opacity: 0.9;
}

.header-paragraph {
  margin-bottom: 50px;
}

.what-we-do-container {
  width: 100%;
  padding: 20px;
  text-align: center;
  color: var(--headers-text);
}

#what-we-do {
  margin-top: 100px;
}

.what-we-do-desdcription h2 {
  margin-bottom: 15px;
}

.what-we-do-desdcription {
  margin-bottom: 50px;
}

i {
  font-size: 5rem;
  color: var(--hover-active);
}

.what-we-do-icons div {
  margin-bottom: 50px;
}

.our-results-container {
  width: 100%;
  padding: 20px;
  background: url("./images/headphones_hero_2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--plain);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-results-container section {
  width: 80%;
  margin-top: 60px;
}

.our-results-text h2 {
  margin-bottom: 15px;
}

.our-results-text {
  margin-bottom: 50px;
}

.results-pentagon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 50px;
  width: 100%;
}

.result {
  position: relative;
  width: 180px;
}

.result img {
  width: 100%;
}

.result-text {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 601px) {
  .header-container {
    padding: 40px;
  }

  .hero-header {
    width: 100%;
  }

  .btn-container {
    display: none;
  }

  .nav-container {
    display: block;
    width: 250px;
  }

  nav {
    width: 100%;
  }

  .nav-links {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  .nav-links li a {
    color: var(--plain);
    text-decoration: none;
  }

  .nav-links li a:hover {
    color: var(--hover-active);
  }

  .what-we-do-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 50px;
  }

  .what-we-do-icons div {
    width: 40%;
  }

  i {
    font-size: 5.5rem;
  }

  .results-pentagon {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .result {
    width: 40%;
  }
}

@media screen and (min-width: 769px) {
  .header-container {
    padding: 60px;
  }

  .logo img {
    width: 250px;
  }

  .nav-links li a {
    font-size: 1.2rem;
  }

  .nav-container {
    width: 300px;
  }
}

@media screen and (min-width: 1025px) {
  .header-container {
    padding: 30px 200px 50px 200px;
  }

  header {
    max-width: 1300px;
  }

  .what-we-do-icons {
    flex-wrap: nowrap;
  }

  #what-we-do {
    width: 800px;
    margin: 70px auto;

  }

  .results-pentagon {
    flex-wrap: nowrap;
  }
}